@charset "UTF-8";

:root {
    --black: #000;
    --white: #fff;
    --desc01: #010d3e;
    --neutral900: #999;
    --neutral800: #808080;
    --neutral700: #767676;
    --neutral400: #bcbcbc;
    --neutral200: #eff0f6;
    --neutral100: #f1f1f1;
    --neutral50: #eaeefe;
}

/* 텍스트 */
h2,
.h2 {
    font-family: 'DM Sans';

    font-size: 9rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.065rem;
    background-image: linear-gradient(to bottom, #000, #001354);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@media screen and (max-width: 500px) {
    h2,
    .h2 {
        font-size: 4.8rem;
        letter-spacing: -0.025rem;
    }
}

h3,
.h3 {
    font-family: 'DM Sans';
    font-size: 5.4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.06rem;
    background-image: linear-gradient(to bottom, #000, #001354);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
@media screen and (max-width: 500px) {
    h3,
    .h3 {
        font-size: 3.2rem;
        letter-spacing: -0.01rem;
    }
}

/* 컴포넌트 */
.container {
    max-width: 124rem;
    padding: 0 2rem;
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
    .break_mo {
        display: none;
    }
}

.section03,
.section04,
.section05,
.section06,
.section07 {
    padding: 8rem 0;
}

/* 로고 */
.logo {
    width: 4rem;
    height: 4rem;
    position: relative;
    z-index: 0;
}
.logo::after {
    content: '';
    width: 4rem;
    height: 3.3rem;
    position: absolute;
    top: 0.6rem;
    left: 0;
    background: linear-gradient(to right, #f87bff 0%, #fb92cf 24%, #ffdd9b 48%, #c2f0b1 73%, #2fd8fe 100%);
    z-index: -1;
    filter: blur(0.6rem);
}

/* 헤더 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background: var(--neutral50);
}
.menu_web {
    display: flex;
    gap: 2.4rem;
}
.menu_web .menu_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.6rem;
}
.menu_web .menu_list li {
    opacity: 0.6;
}
.menu_web .menu_list li a {
    font-size: 1.6rem;
    line-height: 2.3rem;
    letter-spacing: -0.01rem;
}

.menu_mo {
    display: none;
}

@media screen and (max-width: 500px) {
    .menu_web {
        display: none;
    }
    .menu_mo {
        display: block;
    }
}

/* Call to Action */
.cta {
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background: var(--black);
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -0.02rem;
}

.cta02 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4rem;
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -0.002rem;
    padding: 1rem 0;
    width: fit-content;
}

/* 섹션01 - 비주얼 */

.title {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    align-items: center;
    text-align: center;
}

.title .badge {
    padding: 0.6rem 1.3rem;
    border-radius: 1rem;
    outline: 1px solid rgba(34, 34, 34, 0.1);
    width: fit-content;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.025rem;
    color: var(--black);
}

.title p {
    font-size: 2.2rem;
    line-height: 3.1rem;
    letter-spacing: -0.0036rem;
    color: var(--desc01);
}

.title .title_link {
    display: flex;
    justify-content: flex-start;
    gap: 1.6rem;
}

.section01 {
    height: 71rem;
    background: url(../images/img_bg_gradient.png) no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    overflow-x: clip;
}
.section01 .title {
    gap: 3rem;
    padding-top: 10rem;
    text-align: left;
    align-items: flex-start;
}

.section01_inner {
    display: flex;
    justify-content: space-between;
}

.section01_img {
    position: relative;

    width: 100%;
    height: 71rem;
}

.section01_img .section01_img01 {
    position: absolute;
    width: 21.6rem;
    height: auto;
    top: 0.8rem;
    right: 51rem;
}

.section01_img .section01_img02 {
    position: absolute;
    width: 64.8rem;
    top: 2rem;
    right: 0;
}

.section01_img .section01_img03 {
    position: absolute;
    width: 23.2rem;
    bottom: -4.1rem;
    right: -4.1rem;
    transform: rotate(30deg);
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .section01_img .section01_img01 {
        top: 0.2rem;
        right: 50%;
    }
    .section01_img .section01_img02 {
        right: -50%;
    }
    .section01_img .section01_img03 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .section01_img .section01_img02 {
        right: -165%;
    }
}

@media screen and (max-width: 500px) {
    .section01 {
        height: auto;
        padding-bottom: 3rem;
    }
    .section01 .title {
        padding-top: 3rem;
        gap: 2.4rem;
    }
    .section01_inner {
        flex-direction: column;
        gap: 8rem;
    }
    .section01_img {
        height: auto;
    }
    .section01_img .section01_img01 {
        display: none;
    }
    .section01_img .section01_img02 {
        position: relative;
        width: 100%;
        right: 0;
        top: 0;
    }
}

/* 섹션02 - 로고 */
.section02 {
    overflow: hidden;
    position: relative;
    height: 13.2rem;
}

.marquee {
    display: flex;
    padding: 5rem 8.8rem;
    position: relative;
    width: 120rem;
    overflow: hidden;
}

.marquee::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ffffff 0%, #ffffff00 50%, #ffffff 100%);
}

.marquee .marquee_inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2.8rem;

    animation: anim01 40s linear infinite;
}

.marquee .marquee_inner:last-child {
    margin-left: 2.8rem;
}

.marquee .marquee_inner li {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes anim01 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 768px) {
    .marquee {
        padding: 5rem 0;
        position: absolute;
        left: 0;
    }
    .marquee::after {
        width: 100vw;
    }
}

/* 섹션03 - 프로덕트*/
.section03 {
    background: linear-gradient(to bottom, #fff 40%, #d2dcff 100%);
    overflow: hidden;
}

.section03 .section03_inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.section03 .section03_img {
    position: relative;
}

.section03 .section03_img .section03_img_product {
    filter: drop-shadow(0px 4px 70px rgba(0, 0, 0, 0.25));
}
.section03 .section03_img .section03_img01 {
    position: absolute;
    bottom: 4.4rem;
    left: -13.8rem;
}

.section03 .section03_img .section03_img02 {
    position: absolute;
    top: 9.8rem;
    right: -18.5rem;
}

.section03 .section03_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.section03 .section03_grid .section03_grid_item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding: 4rem 0;
}

.section03 .section03_grid .section03_grid_item p {
    font-family: 'DM sans';
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -0.031rem;
}

.section03 .section03_grid .section03_grid_item span {
    font-size: 1.6rem;
    line-height: 2.3rem;
    letter-spacing: -0.01rem;
}

@media screen and (max-width: 768px) {
    .section03 .section03_img .section03_img01 {
        left: -12rem;
    }

    .section03 .section03_img .section03_img02 {
        right: -14.4rem;
        bottom: 0;
        top: -9.8rem;
    }

    .section03 .section03_grid {
        grid-template-columns: repeat(2, 26rem);
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .section03 .section03_img .section03_img01,
    .section03 .section03_img .section03_img02 {
        display: none;
    }

    .section03 .section03_grid {
        grid-template-columns: repeat(1, 26rem);
    }
}

/* 섹션04 - 매니지먼트 */

.section04_content {
    margin-top: 4rem;
}

.section04_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.section04_cards .section04_cards_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 4rem;
    background: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 2rem;
    box-shadow: 0px 7px 24px rgba(36, 34, 38, 0.12);
    width: 46.4rem;
    text-align: center;
}

.section04_cards .section04_cards_item p {
    font-family: 'DM sans';
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.04rem;
    background-image: linear-gradient(to bottom, #000, #001354);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.section04_cards .section04_cards_item span {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: -0.01rem;
    color: var(--desc01);
}

@media screen and (max-width: 768px) {
    .section04_cards {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .section04_cards .section04_cards_item {
        width: 100%;
        padding: 4rem 2rem;
    }
}

/* 섹션05 - 가격 */
.section05_content {
    margin-top: 4rem;
}

.price {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2.5rem;
}
.price .price_item {
    padding: 4rem;
    border: 1px solid var(--neutral200);
    border-radius: 2.4rem;
    box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
    display: flex;
    flex-direction: column;
    gap: 3.4rem;
    flex: 1;

    span {
        font-family: 'DM sans';
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--neutral700);
    }
}

.price .price_item .price_item_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price .price_item .price_item_header .price_badge {
    width: fit-content;
    padding: 1rem 1.3rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.0025rem;
    background-image: linear-gradient(to right, #dd7dff 0%, #e1cd86 29%, #8bcb92 51%, #71c2ef 76%, #3bffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.price .price_item .price_item_dollar {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 0.4rem;
}
.price .price_item .price_item_dollar strong {
    font-family: 'DM sans';
    font-size: 5.4rem;
    font-weight: 700;
    letter-spacing: -0.006rem;
}
.price .price_item .price_item_button {
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -0.002rem;
    text-align: center;
    background: var(--black);
    color: var(--white);
}
.price .price_item .price_item_desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.price .price_item .price_item_desc li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.6rem;
    font-size: 1.4rem;
}
.price .price_item .price_item_desc li::before {
    content: '';
    width: 2.4rem;
    height: 2.4rem;
}

.price .price_item.wt {
    background: var(--white);
}
.price .price_item.wt .price_item_desc li::before {
    background: url(../images/ico_check_bk24.svg) no-repeat center center;
}

.price .price_item.bk {
    background: var(--black);
}
.price .price_item.bk span {
    color: var(--neutral900);
}
.price .price_item.bk .price_item_button {
    background: var(--white);
    color: var(--black);
}
.price .price_item.bk .price_item_dollar strong {
    color: var(--white);
}
.price .price_item.bk .price_item_desc li {
    color: var(--white);
}
.price .price_item.bk .price_item_desc li::before {
    background: url(../images/ico_check_wt24.svg) no-repeat center center;
}

@media screen and (max-width: 768px) {
    .price {
        flex-direction: column;
        align-items: center;
    }
    .price .price_item {
        width: 39rem;
    }
}

@media screen and (max-width: 500px) {
    .price .price_item {
        width: 100%;
    }
}

/* 섹션06 - 사용후기 */
.section06 {
    overflow: hidden;
}
.user {
    position: relative;
    width: 101.6rem;
    margin: 4rem auto 0;
}
.user::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #fff 0%, #ffffff00 30%, #ffffff00 100%);
}

.user .user_list {
    column-count: 3;
    column-gap: 2rem;
}
.user .user_list .user_list_item {
    background: var(--white);
    border: 1px solid var(--neutral50);
    border-radius: 2rem;
    padding: 4rem;
    box-shadow: 0px 7px 14px #eaeaea;
    margin-bottom: 2.4rem;
}
.user .user_list .user_list_item:last-child {
    margin-bottom: 0;
}
.user .user_list .user_list_item span {
    font-size: 1.6rem;
    line-height: 2.3rem;
    letter-spacing: -0.001rem;
}
.user .user_list .user_list_item .user_profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    margin-top: 2rem;
}
.user .user_list .user_list_item .user_profile .user_profile_img {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 100rem;
    overflow: hidden;
}
.user .user_list .user_list_item .user_profile .user_name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.user .user_list .user_list_item .user_profile .user_name b {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -0.002rem;
}

@media screen and (max-width: 768px) {
    .user {
        left: -50%;
        transform: translateX(25%);
    }
}

@media screen and (max-width: 500px) {
    .user {
        left: 0;
        transform: translateX(0);
        width: calc(100% - 4rem);
    }
    .user::after {
        content: none;
    }
    .user .user_list {
        column-count: 1;
    }
}

/* 섹션07 - sign up */
.section07 {
    background: linear-gradient(to bottom, #fff 0%, #d2dcff 100%);
    overflow: hidden;
}
.section07_inner {
    position: relative;
    padding: 8rem 0;
}

.section07_inner .title p {
    font-size: 1.6rem;
    line-height: 2.3rem;
    letter-spacing: -0.001rem;
}

.section07_img01 {
    position: absolute;
    top: -8rem;
    left: -2rem;
    width: 36.2rem;
    height: 36.2rem;
}
.section07_img02 {
    position: absolute;
    top: 3rem;
    right: 0;
    width: 36.2rem;
    height: 36.2rem;
}

@media screen and (max-width: 1024px) {
    .section07 {
        padding: 4rem 0;
    }
    .section07_img01 {
        top: 0rem;
        left: -19.6rem;
    }
    .section07_img02 {
        top: unset;
        bottom: 0;
        right: -22rem;
    }
}
@media screen and (max-width: 500px) {
    .section07 {
        padding: 0;
    }
    .section07_img01,
    .section07_img02 {
        display: none;
    }
}

/* 푸터 */
.footer {
    background: var(--black);
    padding: 4rem 0;
}

.footer_inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer_left {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 11rem;
}
.footer_left p {
    margin-top: 2rem;
    font-size: 1.4rem;
    color: var(--neutral400);
}

.sns {
    display: flex;
    gap: 1.1rem;
}
.footer_menu {
    display: flex;
    align-items: flex-start;
    gap: 4.8rem;
}
.footer_menu ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer_menu ul li {
    font-size: 1.4rem;
    color: var(--neutral700);
}
.footer_menu_title {
    font-weight: 700;
    color: var(--white);
}

@media screen and (max-width: 500px) {
    .footer_inner {
        flex-direction: column;
        gap: 7rem;
    }
    .footer_left {
        gap: 3rem;
    }

    .footer_menu {
        flex-direction: column;
    }
}
