@charset "UTF-8";

:root {
    --black: #000;
    --white: #fff;
    --desc01: #010d3e;
    --neutral900: #999;
    --neutral800: #808080;
    --neutral700: #7b7b7b;
    --neutral400: #bcbcbc;
    --neutral200: #eff0f6;
    --neutral100: #f1f1f1;
    --neutral50: #eaeefe;
}

/* 텍스트 */
h2,
.h2 {
    font-family: 'DM Sans';

    font-size: 9rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.065rem;
    background-image: linear-gradient(to bottom, #000, #001354);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    @media screen and (max-width: 500px) {
        font-size: 4.8rem;
        letter-spacing: -0.025rem;
    }
}

h3,
.h3 {
    font-family: 'DM Sans';

    font-size: 5.4rem;
    font-weight: 700;
    line-height: 6rem;
    letter-spacing: -0.06rem;
    background-image: linear-gradient(to bottom, #000, #001354);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    @media screen and (max-width: 500px) {
        font-size: 3.2rem;
        line-height: 3.2rem;
        letter-spacing: -0.01rem;
    }
}

/* 컴포넌트 */
.container {
    max-width: 124rem;
    padding: 0 2rem;
    margin: 0 auto;
}

.break_mo {
    @media screen and (max-width: 500px) {
        display: none;
    }
}

.section03,
.section04,
.section05,
.section06,
.section07 {
    padding: 8rem 0;
}

/* 로고 */
.logo {
    width: 4rem;
    height: 4rem;
    position: relative;
    z-index: 0;

    &::after {
        content: '';
        width: 4rem;
        height: 3.3rem;
        position: absolute;
        top: 0.6rem;
        left: 0;
        background: linear-gradient(to right, #f87bff 0%, #fb92cf 24%, #ffdd9b 48%, #c2f0b1 73%, #2fd8fe 100%);
        z-index: -1;
        filter: blur(0.6rem);
    }
}

/* 헤더 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background: var(--neutral50);

    .menu_web {
        display: flex;
        gap: 2.4rem;

        @media screen and (max-width: 500px) {
            display: none;
        }

        .menu_list {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1.6rem;

            li {
                opacity: 0.6;

                a {
                    font-size: 1.6rem;
                    line-height: 2.3rem;
                    letter-spacing: -0.01rem;
                }
            }
        }
    }

    .menu_mo {
        display: none;

        @media screen and (max-width: 500px) {
            display: block;
        }
    }
}

/* Call to Action */
.cta {
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background: var(--black);
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -0.02rem;
}

.cta02 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4rem;
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -0.002rem;
    padding: 1rem 0;
    width: fit-content;
}

/* 섹션01 - 비주얼 */

.title {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    align-items: center;
    text-align: center;

    .badge {
        padding: 0.6rem 1.3rem;
        border-radius: 1rem;
        outline: 1px solid rgba(34, 34, 34, 0.1);
        width: fit-content;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.025rem;
        color: var(--black);
    }

    p {
        font-size: 2.2rem;
        line-height: 3.1rem;
        letter-spacing: -0.0036rem;
        color: var(--desc01);
    }

    .title_link {
        display: flex;
        justify-content: flex-start;
        gap: 1.6rem;
    }
}

.section01 {
    height: 71rem;
    background: url(../images/img_bg_gradient.png) no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    overflow-x: clip;

    @media screen and (max-width: 500px) {
        height: auto;
        padding-bottom: 3rem;
    }

    .title {
        gap: 3rem;
        padding-top: 10rem;
        text-align: left;
        align-items: flex-start;

        @media screen and (max-width: 500px) {
            padding-top: 3rem;
            gap: 2.4rem;
        }
    }

    .section01_inner {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 500px) {
            flex-direction: column;
            gap: 8rem;
        }
    }

    .section01_img {
        position: relative;

        width: 100%;
        height: 71rem;

        @media screen and (max-width: 500px) {
            height: auto;
        }

        .section01_img01 {
            position: absolute;
            width: 21.6rem;
            height: auto;
            top: 0.8rem;
            right: 51rem;

            @media screen and (max-width: 1024px) {
                top: 0.2rem;
                right: 50%;
            }

            @media screen and (max-width: 500px) {
                display: none;
            }
        }
        .section01_img02 {
            position: absolute;
            width: 64.8rem;
            top: 2rem;
            right: 0;

            @media screen and (max-width: 1024px) {
                right: -50%;
            }

            @media screen and (max-width: 768px) {
                right: -165%;
            }

            @media screen and (max-width: 500px) {
                position: relative;
                width: 100%;
                right: 0;
                top: 0;
            }
        }
        .section01_img03 {
            position: absolute;
            width: 23.2rem;
            bottom: -4.1rem;
            right: -4.1rem;
            transform: rotate(30deg);
            z-index: 1;

            @media screen and (max-width: 1024px) {
                display: none;
            }
        }
    }
}

/* 섹션02 - 로고 */
.section02 {
    overflow: hidden;
    position: relative;
    height: 13.2rem;

    .marquee {
        display: flex;
        padding: 5rem 8.8rem;
        position: relative;
        width: 120rem;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            padding: 5rem 0;
            position: absolute;
            left: 0;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, #ffffff 0%, #ffffff00 50%, #ffffff 100%);
        }
    }

    @media screen and (max-width: 768px) {
        .marquee::after {
            width: 100vw;
        }
    }

    .marquee_inner {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 2.8rem;

        animation: anim01 40s linear infinite;

        &:last-child {
            margin-left: 2.8rem;
        }
        li {
            width: 20rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@keyframes anim01 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* 섹션03 - 프로덕트*/
.section03 {
    background: linear-gradient(to bottom, #fff 40%, #d2dcff 100%);
    overflow: hidden;

    .section03_inner {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .section03_img {
        position: relative;

        .section03_img_product {
            filter: drop-shadow(0px 4px 70px rgba(0, 0, 0, 0.25));
        }

        .section03_img01 {
            position: absolute;
            bottom: 4.4rem;
            left: -13.8rem;
        }
        .section03_img02 {
            position: absolute;
            top: 9.8rem;
            right: -18.5rem;
        }
        @media screen and (max-width: 768px) {
            .section03_img01 {
                left: -12rem;
            }

            .section03_img02 {
                right: -14.4rem;
                bottom: 0;
                top: -9.8rem;
            }
        }

        @media screen and (max-width: 500px) {
            .section03_img01,
            .section03_img02 {
                display: none;
            }
        }
    }

    .section03_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        .section03_grid_item {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: flex-start;
            padding: 4rem 0;

            p {
                font-family: 'DM sans';
                font-size: 1.8rem;
                font-weight: 700;
                letter-spacing: -0.031rem;
            }

            span {
                font-size: 1.6rem;
                line-height: 2.3rem;
                letter-spacing: -0.01rem;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .section03_grid {
            grid-template-columns: repeat(2, 26rem);
            justify-content: center;
        }
    }
    @media screen and (max-width: 500px) {
        .section03_grid {
            grid-template-columns: repeat(1, 26rem);
        }
    }
}

/* 섹션04 - 매니지먼트 */
.section04 {
    .section04_content {
        margin-top: 4rem;

        .section04_cards {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            .section04_cards_item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.2rem;
                padding: 4rem;
                background: var(--white);
                border: 1px solid rgba(0, 0, 0, 0.08);
                border-radius: 2rem;
                box-shadow: 0px 7px 24px rgba(36, 34, 38, 0.12);
                width: 46.4rem;
                text-align: center;

                p {
                    font-family: 'DM sans';
                    font-size: 2.6rem;
                    font-weight: 700;
                    line-height: 1.4;
                    letter-spacing: -0.04rem;
                    background-image: linear-gradient(to bottom, #000, #001354);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                }

                span {
                    font-size: 1.6rem;
                    line-height: 1.5;
                    letter-spacing: -0.01rem;
                    color: var(--desc01);
                }
            }

            @media screen and (max-width: 500px) {
                .section04_cards_item {
                    width: 100%;
                    padding: 4rem 2rem;
                }
            }
        }
        @media screen and (max-width: 768px) {
            .section04_cards {
                flex-direction: column;
            }
        }
    }
}
